<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>

	<style type="text/css">


		*{
			margin:0;
			padding: 0;
			box-sizing: border-box
			



		}
		body{
			background-color:#4D4D4D;
			color: white;
		}

		.container{
			position:absolute;
			width: 40vw;
			height: 80vh; 
			top: 50%;    
			left: 50%;
			transform: translate(-50%,-50%);

		}



	</style>
</head>
<body>
	{% block content %}
	{% endblock %}

	
</body>
</html>